@import "tailwindcss";

body{
    font-family: "Outfit", sans-serif;
    background-color: #EEF4FF;
    padding-bottom: 20px;
}

.inter-border{
  background-color: rgb(13, 171, 13);
  text-align: center;
    color: rgb(255, 255, 255);
}
.reject-border{
       background-color: red;
       text-align: center;
    color: rgb(231, 231, 231);
}